$bgColor:#007bff;
$fontColor:#50575f;

.imageClip {
	width:190px;
	height:190px;
	cursor: zoom-in;
	-webkit-transition: .5s;
	transition: .5s;
	
	&:hover{
	    -webkit-transform: scale(1.20);
		transform: scale(1.10);
		-webkit-transition: .5s;
		transition: .5s;
	}
	
}

.productCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 25px;
    margin: 20px;
    text-align: center;
	transition: box-shadow 500ms;
	
	&:hover{
		box-shadow: 5px 10px 18px #888888;
		transition: box-shadow 500ms;
	}
	
	.desc{
		font-weight: bold;
		color: $fontColor;
		font-size: 18px;
	}
	
}

.productList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.addItemStyle{
	display:flex;
	flex-direction:row;
	justify-content: center;
	
	.count{
		padding:0 5px;
		font-weight:bold;
		font-size:18px;
		color: $fontColor;
	}
}

.addToCart {
	color:#fff;
	background-color:$bgColor;
	padding: 8px;
    border-radius: 8px;
    border: 2px solid $bgColor;
	font-weight:bold;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.addedToCart {
    justify-content: center;
    color: #007bff;
    background-color: #fff;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid #007bff;
    font-weight: bold;
    display: flex;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;                     
}

